<h1>{{title}}</h1>

<!-- update child data from parent -->
<!-- <app-child [item]="newData"></app-child>
<button (click)="updateChild()">Update Child</button> -->

<!-- sending data from parent to child -->

<!-- <ul *ngFor="let user of userDetails"> 
    <app-child [useritem]="user"></app-child> 
</ul> -->

<!-- seding data from child to parent -->
<h1>{{data}}</h1>
<app-child (updateDataEvent)="updateData($event)"></app-child>

<!-- basic of pipes  -->
<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{title | slice :2:5}}</h1>

<h1>{{today | date:'fullDate'}}</h1>
<p>{{userDetails | json |uppercase}}</p>
<p>{{00324.2890 | number : '1.1-1'}}</p>
<h1>{{100 | currency:'INR'}}</h1>

<!-- CUSTOM PIPES IN ANGULAR -->
<h1>{{100 | useInr:98}}</h1>
